body {
    margin: 0px;
    padding: 0px;
    background-color: #262626;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -60px;
    color: #c0c0c0;
    font-family: 'Lucida Grande';
    font-size: 12px;
    line-height: 155%;
    background-size: cover;
}
a {
    text-decoration: underline;
    color: #b853be;
    transition: 1.0s all;
}
a:hover {
    text-decoration: none;
}

#Chat {
    display: table;
    width: 100%;
}

#preview_image {
    width: 70vw;
    height: 70vh;
    max-width: 70vh;
    max-height: 70vw;
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
}

.message_wrapper {
    display: table-row;
    transition: 0.5s all;
}
.message_wrapper.mention {
    background-color: rgba(18, 63, 68, 0.60) !important;
}
.message_wrapper:hover {
    background-color: rgba(45, 0, 22, 0.60) !important;
}
.message_wrapper > .message_content > font.spoiler:hover {
    background-color: transparent !important;
    color: inherit !important;
}
.message_wrapper.history {
    opacity: 0.5;
}
.message_wrapper.focus {
    background-color: rgba(44, 44, 44, 0.60);
}
.message_wrapper.event,
.message_wrapper.status {
    color: #494949;
}

.message_wrapper > div {
    padding: 0px 5px 0px 5px;
}
.message_wrapper:nth-last-child(2) > div {
    padding-bottom: 7px;
}

.message_wrapper > .message_time {
    display: table-cell;
    width: 65px;
}

.message_wrapper > .message_sender_name {
    display: table-cell;
    width: 100px;
    max-width: 100px;
    word-wrap: break-word;
    white-space: pre;
    text-align: right;
    padding-right: 7px;
}

.message_wrapper > .message_content {
    display: table-cell;
    width: 99%;
    padding-left: 7px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #494949;
    word-break: break-word;
}
.message_wrapper.status > .message_content {

}